.main-container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #5D4037;
    margin-bottom: 10px;
    text-align: center;
}

/* Styles spécifiques à la section de gestion des horaires */
.schedule-management {
    width: 100%;
    padding: 20px;
    background-color: #A8BCAA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.schedule-management table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.schedule-management th,
.schedule-management td {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #212121;
    border: 1px solid #BDBDBD;
    padding: 15px;
    text-align: left;
}

.schedule-management th {
    background-color: #0E402D;
    color: #FFFDE7;
    font-family: 'Poppins', sans-serif;
}

.schedule-management td input[type="time"] {
    width: 100%;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.schedule-management button.btn-submit {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #FFFDE7;
    background-color: #0E402D;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.schedule-management button.btn-submit:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

/* Media queries pour tablette (entre 768px et 1024px) */
@media (max-width: 1024px) {
    .main-container {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 32px;
    }

    .schedule-management button.btn-submit {
        width: 50%;
        padding: 10px;
    }
}

/* Media queries pour mobile (moins de 768px) */
@media (max-width: 768px) {
    .main-container {
        max-width: 95%;
        padding: 10px;
        margin: 20px auto;
    }

    h1 {
        font-size: 28px;
    }

    .schedule-management th, .schedule-management td {
        padding: 10px;
        font-size: 16px;
    }

    .schedule-management button.btn-submit {
        width: 100%;
        padding: 8px;
        font-size: 16px;
    }
}
