.main-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #5D4037;
    margin-bottom: 20px;
    text-align: center;
}

.two-column-layout {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.create-animal-container {
    width: 50%; 
    padding: 20px;
    background-color: #A8BCAA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.create-animal-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #0E402D;
    margin-bottom: 20px;
}

.create-animal-container .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.create-animal-container label {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #212121;
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}

.create-animal-container input[type="text"],
.create-animal-container textarea,
.create-animal-container input[type="file"] {
    width: 90%;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px auto;
}

.create-animal-container button.btn-submit {
    display: block;
    width: 90%;
    margin: 20px auto 0;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #FFFDE7;
    background-color: #0E402D;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-animal-container button.btn-submit:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

/* Styles pour les filtres */
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input[type="text"], 
.filters select {
    width: 60%;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.filters select {
    width: 30%;
}

/* Liste des animaux */
.animal-list {
    width: 50%; 
    max-height: 700px;
    overflow-y: auto; 
    padding: 20px;
    background-color: #A8BCAA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.animal-list h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #0E402D;
    margin-bottom: 20px;
    text-align: center;
}

.animal-item {
    padding: 10px 20px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFDE7;;
}

.animal-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #212121;
}

.animal-item button {
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #0E402D;
    color: #FFFDE7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.animal-item button:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

.account-item button:first-of-type, .animal-item button:first-of-type {
    margin-left: auto;
}

.account-item button:hover, .animal-item button:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

/* Styles globaux pour les modals */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Contenu du modal */
.modal-content {
    background-color: #FFFDE7;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #BDBDBD;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Bouton de fermeture du modal */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Titre du modal */
.modal h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #5D4037;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulaire dans le modal */
.modal .form-group {
    margin-bottom: 20px;
}

.modal label {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #212121;
    display: block;
    margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"],
.modal select {
    width: 95%;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.modal textarea {
    width: 95%; /* Assurez-vous que le textarea prenne bien 95% de la largeur */
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;

}

.btn-submit, .btn-cancel {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-submit {
    background-color: #0E402D;
    color: #FFFDE7;
    border: none;
}

.btn-submit:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

.btn-cancel {
    background-color: #BDBDBD;
    color: #FFFDE7;
    border: none;
    margin-left: 20px;
}

.btn-cancel:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

/* Media queries pour tablette (entre 768px et 1024px) */
@media (max-width: 1024px) {
    .main-container {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 32px;
    }

    .two-column-layout {
        flex-direction: column;
        gap: 30px;
    }

    .create-animal-container,
    .animal-list {
        width: 100%;
    }

    .create-animal-container h2,
    .animal-list h2 {
        font-size: 24px;
    }

    .create-animal-container button.btn-submit {
        width: 100%;
        padding: 10px;
    }

    .animal-list {
        max-height: none;
        padding: 15px;
    }

    .animal-item {
        padding: 10px;
    }

    .animal-item h3 {
        font-size: 18px;
    }

    .animal-item button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Media queries pour mobile (moins de 768px) */
@media (max-width: 768px) {
    .main-container {
        max-width: 95%;
        padding: 10px;
        margin: 20px auto;
    }

    h1 {
        font-size: 28px;
    }

    .two-column-layout {
        flex-direction: column;
        gap: 20px;
    }

    .create-animal-container,
    .animal-list {
        width: 100%;
    }

    .create-animal-container h2,
    .animal-list h2 {
        font-size: 20px;
    }

    .create-animal-container button.btn-submit {
        width: 100%;
        padding: 8px;
        font-size: 16px;
    }

    .animal-list {
        padding: 10px;
    }

    .animal-item {
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
    }

    .animal-item h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .animal-item button {
        font-size: 14px;
        padding: 8px;
        width: 100%;
        margin: 5px 0;
    }
}
