.main-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    background-color: #FFFDE7;
    border-radius: 10px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #5D4037;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #A8BCAA;
}

thead th {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #212121;
    padding: 10px;
    border-bottom: 1px solid #BDBDBD;
}

tbody tr {
    background-color: #FFFDE7;
    border-bottom: 1px solid #BDBDBD;
}

tbody tr:nth-child(even) {
    background-color: #F7F7F7;
}

tbody td {
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #212121;
    text-align: center;
}

.btn-validate, .btn-invalidate {
    padding: 8px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-validate {
    background-color: #0E402D;
    color: #FFFDE7;
}

.btn-validate:hover {
    background-color: #F2C31D;
    color: #0E402D;
}

.btn-invalidate {
    background-color: #D32F2F;
    color: #FFFDE7;
}

.btn-invalidate:hover {
    background-color: #B71C1C;
    color: #FFFDE7;
}

/* Media queries pour tablette (entre 768px et 1024px) */
@media (max-width: 1024px) {
    .main-container {
        padding: 15px;
        margin: 40px auto;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    table {
        font-size: 16px;
    }

    thead th {
        font-size: 16px;
        padding: 8px;
    }

    tbody td {
        padding: 8px;
        font-size: 15px;
    }

    .btn-validate, .btn-invalidate {
        padding: 6px 10px;
        font-size: 13px;
    }
}

/* Media queries pour mobile (moins de 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
        margin: 30px auto;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    table {
        font-size: 14px;
    }

    thead th {
        font-size: 14px;
        padding: 6px;
    }

    tbody td {
        padding: 6px;
        font-size: 14px;
    }

    .btn-validate, .btn-invalidate {
        padding: 5px 8px;
        font-size: 12px;
    }

    /* Ajout de la possibilité de défilement horizontal pour le tableau sur mobile */
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    thead, tbody {
        display: block;
    }

    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
